body {
    font-family: "Times New Roman";
}
.header{
    background-color: cornflowerblue;
    height: 100px;
}
.page-header{
    font-size: 25px;
    color: #edf8f7;
    text-align: center;
}
.main-table{
    table-layout: fixed;
    width: 100%;
    color: #000000;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-collapse: collapse;
    background-color: #dbdbcf;
}
.main-table th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    padding: 5px;
    background-color: #efefef;
    border: 1px solid #dddddd;
}
.main-table td {
    border: 1px solid #dddddd;
    padding: 5px;
}
