body {
    font-family: "sans-serif";
    background: #232327;
}
.header{
    background-color: cornflowerblue;
    height: 100px;
}
.page-header{
    font-size: 25px;
    color: #edf8f7;
    text-align: center;
}
.main-table {
    table-layout: fixed;
    width: 100%;
    color: #F3F4F7;
    margin-bottom: 20px;
    border: 5px solid #564983;
    border-collapse: collapse;
    text-align: left;
}
.main-table th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    padding: 5px;
}
.main-table td {
    padding: 5px;
}

.table-header{
    background: #55608e;
}
.table-body{
    background: linear-gradient(45deg, #7293a8, #786f9f);
}
